@font-face {
   font-family: 'DroidSansArabic';
   font-display: swap;
   src: url('file:///C:/Users/Reem/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-01_090232/fonts/DroidSansArabic/font.ttf');
}
